<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/pandas/blob/main/US_Crime_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US Crime Rate

In [1]:
import pandas as pd
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime=pd.read_csv(url,sep=',')
print(crime)

    Year  Population     Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0   1960   179323175   3384200  ...    912100        1855400         328200
1   1961   182992000   3488000  ...    949600        1913000         336000
2   1962   185771000   3752200  ...    994300        2089600         366800
3   1963   188483000   4109500  ...   1086400        2297800         408300
4   1964   191141000   4564600  ...   1213200        2514400         472800
5   1965   193526000   4739400  ...   1282500        2572600         496900
6   1966   195576000   5223500  ...   1410100        2822000         561200
7   1967   197457000   5903400  ...   1632100        3111600         659800
8   1968   199399000   6720200  ...   1858900        3482700         783600
9   1969   201385000   7410900  ...   1981900        3888600         878500
10  1970   203235298   8098000  ...   2205000        4225800         928400
11  1971   206212000   8588200  ...   2399300        4424200         948200
12  1972   208230000   8248800  ...   2375500        4151200         887200
13  1973   209851000   8718100  ...   2565500        4347900         928800
14  1974   211392000  10253400  ...   3039200        5262500         977100
15  1975   213124000  11292400  ...   3265300        5977700        1009600
16  1976   214659000  11349700  ...   3108700        6270800         966000
17  1977   216332000  10984500  ...   3071500        5905700         977700
18  1978   218059000  11209000  ...   3128300        5991000        1004100
19  1979   220099000  12249500  ...   3327700        6601000        1112800
20  1980   225349264  13408300  ...   3795200        7136900        1131700
21  1981   229146000  13423800  ...   3779700        7194400        1087800
22  1982   231534000  12974400  ...   3447100        7142500        1062400
23  1983   233981000  12108600  ...   3129900        6712800        1007900
24  1984   236158000  11881800  ...   2984400        6591900        1032200
25  1985   238740000  12431400  ...   3073300        6926400        1102900
26  1986   240132887  13211869  ...   3241410        7257153        1224137
27  1987   242282918  13508700  ...   3236184        7499900        1288674
28  1988   245807000  13923100  ...   3218100        7705900        1432900
29  1989   248239000  14251400  ...   3168200        7872400        1564800
30  1990   248709873  14475600  ...   3073900        7945700        1635900
31  1991   252177000  14872900  ...   3157200        8142200        1661700
32  1992   255082000  14438200  ...   2979900        7915200        1610800
33  1993   257908000  14144800  ...   2834800        7820900        1563100
34  1994   260341000  13989500  ...   2712800        7879800        1539300
35  1995   262755000  13862700  ...   2593800        7997700        1472400
36  1996   265228572  13493863  ...   2506400        7904700        1394200
37  1997   267637000  13194571  ...   2460526        7743760        1354189
38  1998   270296000  12475634  ...   2329950        7373886        1240754
39  1999   272690813  11634378  ...   2100739        6955520        1152075
40  2000   281421906  11608072  ...   2050992        6971590        1160002
41  2001   285317559  11876669  ...   2116531        7092267        1228391
42  2002   287973924  11878954  ...   2151252        7057370        1246646
43  2003   290690788  11826538  ...   2154834        7026802        1261226
44  2004   293656842  11679474  ...   2144446        6937089        1237851
45  2005   296507061  11565499  ...   2155448        6783447        1235859
46  2006   299398484  11401511  ...   2183746        6607013        1192809
47  2007   301621157  11251828  ...   2176140        6568572        1095769
48  2008   304374846  11160543  ...   2228474        6588046         958629
49  2009   307006550  10762956  ...   2203313        6338095         795652
50  2010   309330219  10363873  ...   2168457        6204601         739565
51  2011   311587816  10258774  ...   2185140        6151095         716508
52  2012   313873685  10219059  ...   2109932        6168874         723186
53  2013   316497531   9850445  ...   1931835        6018632         700294
54  2014   318857056   9475816  ...   1729806        5858496         689527

[55 rows x 12 columns]

In [2]:
# What is the type of the columns?
print("What is the type of the columns:")
print(crime.dtypes)

# Convert the type of the column Year to datetime64
print('Convert the type of the column Year to datetime64 :')
print(pd.to_datetime(crime['Year']))

What is the type of the columns:
Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object
Convert the type of the column Year to datetime64 :
0    1970-01-01 00:00:00.000001960
1    1970-01-01 00:00:00.000001961
2    1970-01-01 00:00:00.000001962
3    1970-01-01 00:00:00.000001963
4    1970-01-01 00:00:00.000001964
5    1970-01-01 00:00:00.000001965
6    1970-01-01 00:00:00.000001966
7    1970-01-01 00:00:00.000001967
8    1970-01-01 00:00:00.000001968
9    1970-01-01 00:00:00.000001969
10   1970-01-01 00:00:00.000001970
11   1970-01-01 00:00:00.000001971
12   1970-01-01 00:00:00.000001972
13   1970-01-01 00:00:00.000001973
14   1970-01-01 00:00:00.000001974
15   1970-01-01 00:00:00.000001975
16   1970-01-01 00:00:00.000001976
17   1970-01-01 00:00:00.000001977
18   1970-01-01 00:00:00.000001978
19   1970-01-01 00:00:00.000001979
20   1970-01-01 00:00:00.000001980
21   1970-01-01 00:00:00.000001981
22   1970-01-01 00:00:00.000001982
23   1970-01-01 00:00:00.000001983
24   1970-01-01 00:00:00.000001984
25   1970-01-01 00:00:00.000001985
26   1970-01-01 00:00:00.000001986
27   1970-01-01 00:00:00.000001987
28   1970-01-01 00:00:00.000001988
29   1970-01-01 00:00:00.000001989
30   1970-01-01 00:00:00.000001990
31   1970-01-01 00:00:00.000001991
32   1970-01-01 00:00:00.000001992
33   1970-01-01 00:00:00.000001993
34   1970-01-01 00:00:00.000001994
35   1970-01-01 00:00:00.000001995
36   1970-01-01 00:00:00.000001996
37   1970-01-01 00:00:00.000001997
38   1970-01-01 00:00:00.000001998
39   1970-01-01 00:00:00.000001999
40   1970-01-01 00:00:00.000002000
41   1970-01-01 00:00:00.000002001
42   1970-01-01 00:00:00.000002002
43   1970-01-01 00:00:00.000002003
44   1970-01-01 00:00:00.000002004
45   1970-01-01 00:00:00.000002005
46   1970-01-01 00:00:00.000002006
47   1970-01-01 00:00:00.000002007
48   1970-01-01 00:00:00.000002008
49   1970-01-01 00:00:00.000002009
50   1970-01-01 00:00:00.000002010
51   1970-01-01 00:00:00.000002011
52   1970-01-01 00:00:00.000002012
53   1970-01-01 00:00:00.000002013
54   1970-01-01 00:00:00.000002014
Name: Year, dtype: datetime64[ns]

In [3]:
# Set the Year column as the index of the dataframe
print("Set the Year column as the index of the dataframe :")
crime.set_index('Year', drop = True)

# Delete the Total column
print("Delete the Total column :")
del crime['Total']
print(crime.columns)

Set the Year column as the index of the dataframe :
Delete the Total column :
Index(['Year', 'Population', 'Violent', 'Property', 'Murder', 'Forcible_Rape',
       'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft',
       'Vehicle_Theft'],
      dtype='object')